button, .btn{
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  border-radius: 8px;
  padding: 14px 24px;
  border: none;
  transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
  background: linear-gradient(0deg, rgba(176, 176, 176, 1) 0%, rgba(144, 144, 144, 1) 100%);
  color: #fff;

  &:hover{
    background: linear-gradient(0deg, rgba(113, 228, 255, 1) 0%, rgba(83, 167, 186, 1) 100%);
  }

  &:active{
    background: linear-gradient(0deg, rgba(113, 228, 255, 1) 0%, rgba(83, 167, 186, 1) 100%);
    box-shadow: 0px 0px 0px 3px #6ad5ee;
  }
}